.belgium {
    padding-top: 90px;
    padding-bottom: 345px;
}


.back-link {
    display: inline-flex;
    margin-bottom: 64px;
    padding: 6px 23px;
    color: var(--main-text-color);
    background-color: var(--main-header-bg-color);
    box-shadow: 0px 0px 7px rgba(0, 0, 0, 0.293139);
    border-radius: 2px;
}

.text-wrap-start {
    margin-bottom: 68px;
}

.belgium-title {
    color: var(--main-text-color);
}

.text-list {
    margin-right: 140px;
}

.belgium-list {
    flex-wrap: wrap;
    @include list-unstiled(0, 0, 0);
}

.belgium-item {
    line-height: 32px;
    color: var(--main-text-color);
    &:first-child, &:nth-child(2), &:nth-child(4), &:nth-child(5){
        white-space: nowrap;
    }
}

.countries-link-title {
    color: var(--main-text-color);
}

.countries-link {
    padding: 4px 28px;
    color: var(--main-text-color);
    background-color: var(--main-header-bg-color);
    font-size: 14px;
    line-height: 19px;
    box-shadow: 0px 0px 4px 1px rgba(0, 0, 0, 0.104931);
}

@include mobile-first(992px) {
    .flag-wrap {
        margin-right: 120px;
    }
}